body {
    margin: 0;
    height: 100vh;
    --bottom-col: rgba(255, 255, 255, 0.863);
    background-image: linear-gradient(0deg, var(--bottom-col), 1%, black);
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.clock {
    /* light and shadow in clock's border */
    --light: rgb(80 75 75 / 40%);
    --shadow: rgb(22 18 18);
    --blur-radius: 26px;
    --bottom-shadow-radius: 0px;
    --dimension: 33rem;
    /* display properties */
    height: var(--dimension);
    width: var(--dimension);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('clock.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation: playHalo 2s ease-in-out 0s infinite alternate;
}


/* round nut which holds all three hands */

.clock::before {
    position: absolute;
    content: '';
    width: 2rem;
    height: 2rem;
    background: rgba(206, 205, 201, 0.938);
    border-radius: 50%;
    z-index: 1;
}

.hand {
    position: absolute;
}

#hr {
    height: 11rem;
    width: 0.6rem;
    top: 11.2rem;
    background-color: yellow;
    border-radius: 0.3rem;
    transform-origin: 50% 74%;
}

#mn {
    height: 13rem;
    width: 0.45rem;
    top: 9.2rem;
    background-color: rgb(255, 17, 0);
    border-radius: 0.2rem;
    transform-origin: 50% 77%;
}

#sc {
    height: 15rem;
    width: 0.3rem;
    top: 7.5rem;
    background-color: rgb(9, 255, 70);
    border-radius: 0.3rem;
    transform-origin: 50% 77%;
}

@keyframes playHalo {
    from {
        --neon: rgb(32, 255, 188);
        box-shadow: 0px -15px var(--blur-radius) var(--light), inset 0px -15px var(--blur-radius) var(--light), 0px 3px var(--blur-radius) var(--shadow), inset 0px 15px var(--blur-radius) var(--shadow), 0px 0px 150px 1px var(--neon);
    }
    to {
        --neon: rgb(17, 250, 238);
        box-shadow: 0px -15px var(--blur-radius) var(--light), inset 0px -15px var(--blur-radius) var(--light), 0px 0px var(--blur-radius) var(--shadow), inset 0px 15px var(--blur-radius) var(--shadow), 0px 0px 200px 10px var(--neon);
    }
}