body {
    height: 97vh;
    --bottom-col: rgb(90 90 89);
    background-image: linear-gradient(0deg, var(--bottom-col), 1%, black);
}

#notice {
    position: absolute;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
}

.clock_container {
    margin: auto;
    display: flex;
    --dimension: 96vh;
    height: var(--dimension);
    width: var(--dimension);
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    /* light and shadow in clock's border */
    --light: rgb(80 75 75 / 40%);
    --shadow: rgb(22 18 18);
    --blur-radius: 26px;
    /* display properties */
    height: 75%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('clock.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid rgba(255, 255, 255, 0.301) 3px;
    border-radius: 50%;
    animation: playHalo 1.5s ease-in-out 0s infinite alternate;
}


/* round nut which holds all three hands */

.clock::before {
    position: absolute;
    content: '';
    width: 5%;
    height: 5%;
    background: rgba(206, 205, 201, 0.938);
    border-radius: 50%;
    z-index: 1;
}

.hand {
    position: absolute;
}

#hr {
    height: 33%;
    width: 2%;
    top: 24%;
    background-color: yellow;
    border-radius: 2rem;
    transform-origin: 50% 80%;
}

#mn {
    height: 39%;
    width: 1%;
    top: 18%;
    background-color: rgb(255, 17, 0);
    border-radius: 2rem;
    transform-origin: 50% 82%;
}

#sc {
    height: 46%;
    width: 1%;
    top: 13%;
    background-color: rgb(9, 255, 70);
    border-radius: 2rem;
    transform-origin: 50% 80%;
}

@keyframes playHalo {
    from {
        --neon: rgb(32, 255, 188);
        box-shadow: 0px -15px var(--blur-radius) var(--light), inset 0px -15px var(--blur-radius) var(--light), 0px 3px var(--blur-radius) var(--shadow), inset 0px 15px var(--blur-radius) var(--shadow), 0px 0px 150px 1px var(--neon);
    }
    to {
        --neon: rgb(17, 250, 238);
        box-shadow: 0px -15px var(--blur-radius) var(--light), inset 0px -15px var(--blur-radius) var(--light), 0px 0px var(--blur-radius) var(--shadow), inset 0px 15px var(--blur-radius) var(--shadow), 0px 0px 200px 10px var(--neon);
    }
}